{{define "title"}}Password update{{end}}

{{define "main"}}
<form action="/account/password" method="post" novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label for="current-password">Current password</label>
        <input type="password" name="currentPassword" id="current-password">
        {{with .Form.FieldErrors.currentPassword}}
        <label class="error" for="current-password">{{.}}</label>
        {{end}}
    </div>
    <div>
        <label for="new-password">New password</label>
        <input type="password" name="newPassword" id="new-password">
        {{with .Form.FieldErrors.newPassword}}
        <label class="error" for="new-password">{{.}}</label>
        {{end}}
    </div>
    <div>
        <label for="new-password-confirm">Confirm new password</label>
        <input type="password" name="newPasswordConfirm" id="new-password-confirm">
        {{with .Form.FieldErrors.newPasswordConfirm}}
        <label class="error" for="new-password-confirm">{{.}}</label>
        {{end}}
    </div>
    <div>
        <input type="submit" value="Update password">
    </div>
</form>
{{end}}